# TOPICS :
## calendar
## smaller number print out
## loop 
## loop string
## function
## Arithametic operations
## table print out
## even or odd

##     



##

In [2]:
import calendar
month=int(input("month"))
year=int(input("year"))
c=calendar.month(year,month)
print(c)

month9
year1
    September 1
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30

## calendar(user decision)

## smaller number print out

In [3]:
a=30
b=20
c=10
if a<b<c:
    print(a," is smaller number")
elif b<c<a:
    print(b," is smaller number")
else:
    print(c," is smaller number")

10  is smaller number

## type of value is given

In [4]:
a=1
print(type(a))

<class 'int'>

In [5]:
a=int(30)
print(type(a))

<class 'int'>

## loop system

In [8]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

## loop string

In [11]:
x=["jayanth","roy"]
for i in x:
    print(i)

jayanth
roy

In [26]:
x="jayanth"
y="roy"
for i in x:
    for i in y:
        print(x,y)

jayanth roy
jayanth roy
jayanth roy
jayanth roy
jayanth roy
jayanth roy
jayanth roy
jayanth roy
jayanth roy
jayanth roy
jayanth roy
jayanth roy
jayanth roy
jayanth roy
jayanth roy
jayanth roy
jayanth roy
jayanth roy
jayanth roy
jayanth roy
jayanth roy

# FUNCTION

In [28]:
def add(a,b):
    c=a+b
    return c
x=int(input("enter the x value "))

y=int(input("enter the y value "))
add(x,y)

enter the x value 10
enter the y value 20

30

## Arithametic operations

In [27]:
a=10
b=20
def add(a,b):
    c=a+b
    return c
def mul(a,b):
    c=a*b
    return c
def div(a,b):
    c=a/b
    return c
def sub(a,b):
    c=a-b
    return c
a=int(input("enter a value"))
b=int(input("enter b value"))
print("add ",add(a,b))
print("mul",mul(a,b))
print("div ",div(a,b))
print("sub ",sub(a,b))

enter a value20
enter b value39
add  59
mul 780
div  0.5128205128205128
sub  -19

# Table print out

In [38]:
a=int(input("number of table"))
print("the given table is",a)
for i in range(1,11):
    print(a,"*",i,"=",a*i)

number of table436673
the given table is 436673
436673 * 1 = 436673
436673 * 2 = 873346
436673 * 3 = 1310019
436673 * 4 = 1746692
436673 * 5 = 2183365
436673 * 6 = 2620038
436673 * 7 = 3056711
436673 * 8 = 3493384
436673 * 9 = 3930057
436673 * 10 = 4366730

## even or odd

In [37]:
a=int(input("enter the a value"))
if a%2==0:
    print(a," is even")
else:
    print(a," is odd")

enter the a value2
2  is even