# List Operations
## reverse
## dictionary
## palindrome or not
## number print out
## even number print out 
##  ascending order
## decending order
##  user decision( A&D order)

## reverse order

In [8]:
l=['a','b']
l.reverse()
l

['b', 'a']

In [39]:
m=['a','b','c','d','e']
print(m[-3:-1])            #reverse order within limit (# out ctrl+#)

['c', 'd']

In [40]:
m=['a','b','c','d']
print(m[::-1])                 #reverse order print out

['d', 'c', 'b', 'a']

In [38]:
m=['a','b','c','d','e','f']
print(m[1:6:2])                 #intervals print out

['b', 'd', 'f']

## Dictionary

In [3]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

## append

In [13]:
k=["jayanth","roy"]
k.append("v")
k

['jayanth', 'roy', 'v']

## string different operations

In [14]:
s="jayanth"
s[0]

'j'

In [17]:
m="power"
m[0:3]

'pow'

## palindrome

In [28]:
i="madam"
r=i[::-1]
if i==r:
    print(" is pal")
else:
    print(" is not pal ")

 is pal

## prnit out numbers

In [29]:
l=[1,24,3,44,5,6]

for i in range(0,6):
    print(l[i])

1
24
3
44
5
6

In [30]:
l=[1,1322,34,6456,4]
for i in l:
    print(i)

1
1322
34
6456
4

## even  or odd number print out

In [43]:
n=[1,2,3,4,5,6,7,8,9,10]
for i in n:
    if i%2==0:
        print(i," is even")
    else:
        print(i," is odd")

1  is odd
2  is even
3  is odd
4  is even
5  is odd
6  is even
7  is odd
8  is even
9  is odd
10  is even

## user given(even or odd)

In [2]:
n=int(input(" enter lower limit "))
m=int(input(" enter upper limit "))
for n in range(n,m):
    if n%2==0:
        print(n," is even")
    else:
        print(n," is odd")

 enter lower limit 10
 enter upper limit 20
10  is even
11  is odd
12  is even
13  is odd
14  is even
15  is odd
16  is even
17  is odd
18  is even
19  is odd

## Ascending order

In [12]:
n=[1,3,4,5,6,10,7]
n.sort()
n

[1, 3, 4, 5, 6, 7, 10]

## Decending order

In [14]:
n=[1,3,4,5,6,10,7]
n.sort()
n
n.reverse()
n

[10, 7, 6, 5, 4, 3, 1]

## user decision

In [5]:
l=int(input("how many number"))
n=[]
for i in range(1,l+1):
    k=int(input())
    n.append(k)
n.sort()
print(n)
n.reverse()
print(n)

how many number4
1
2
3
4
[1, 2, 3, 4]
[4, 3, 2, 1]